<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <appender name="console" class="org.apache.log4j.ConsoleAppender">
    <param name="Target" value="System.out" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%-5p %c{1} - %m%n" />
    </layout>
  </appender>
  <appender name="kafkaAppender" class="org.apache.kafka.log4jappender.KafkaLog4jAppender">
    <param name="topic" value="testevents" />
    <param name="brokerList" value="localhost:9092" />
    <param name="syncSend" value="true" />
    <param name="compressionType" value="none" />
    <param name="requiredNumAcks" value="0" />
    <layout class="org.apache.log4j.PatternLayout">
      <!--<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L %% - %m%n" />-->
      <param name="ConversionPattern" value="%m%n" />
    </layout>
  </appender>
  <logger name="I0Itec.zkclient">
    <level value="error" />
    <appender-ref ref="console" />
  </logger>
  <logger name="org.apache.zookeeper">
    <level value="error" />
    <appender-ref ref="console" />
  </logger>
  <logger name="org.apache.kafka">
    <level value="error" />
    <appender-ref ref="console" />
  </logger>
  <!-- Used with warn level for test -->
  <logger name="org.kie.u212.kafkaLogger">
    <level value="warn" />
    <appender-ref ref="kafkaAppender" />
  </logger>
  <root>
    <priority value="error" />
    <appender-ref ref="console" />
  </root>
</log4j:configuration>
